*{
    padding: 0; margin: 0;
    box-sizing: border-box;
}

.pz-footer {
    background-color: #2596be;
    height: 10vh;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}