.pz-input-container {
    width: 100%;
    margin-bottom: 15px;
    .label {
        width: 100%;
        text-align: left;
        font-size: 14px;
        padding: 7px 0 7px 0;
        color: rgb(132, 127, 127);
    }
    input {
        padding: 12px 10px;
        width: 100%;
        border-radius: 10px;
        border: 1px solid rgba(128, 128, 128, 0.274);
        background-color: #f5f6f7;
        font-size: 14px;
        outline: none;
    }
}