*{
    padding: 0; margin: 0;
    box-sizing: border-box;
}

.pz-welcome {
    width: 100%;
    height: 80vh;
    display: flex;
    
    .pz-cards {
        width: 100%;
        margin: 10px;
        display: flex;
        flex-wrap: wrap;
    }
}

